#chore_text {
  margin: 25px 0px 0px 50px;
}

#chore_button {
  margin: 10px 0px 0px 50px;
}

#dial_text {
  margin: 50px 0px 0px 0px;
}

#dial_button {
  margin: 0px 0px 0px 5px;
}

#flavor_ctrl_text {
  margin: 50px 100px 0px 10px;
}

#flavor_dir_text {
  margin: 0px 0px 0px 10px;
}

#soda_text {

}

#soda_output {
  margin: 50px 0px 0px 0px;
}
