<div ng-show="courses.length">
  <h1>Here are all of your courses:</h1>
  <ul>
    <li ng-repeat="item in courses">
      <a ui-sref="courses.students({ courseId: item.id })">{{ item.name }}</a>
    </li>
  </ul>
</div>

<div class="col-md-4">
  <h3>Add a new course</h3>
  <form ng-submit="CoursesFactory.addCourse()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="CoursesFactory.courseName" class="form-control" placeholder="Enter a course name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div ng-app="choreApp">
  <kid done="logChore(chore)"></kid>
</div>

<div ng-app="phoneApp">
  <phone dial="callHome(message)"></phone>
</div>

<div ng-app="drinkApp">
  Ctrl
  <input type="text" id="flavor_ctrl_text" ng-model="ctrlFlavor">
  Dir
  <drink flavor="ctrlFlavor"></drink>
</div>

<div ng-app="drinkApp">
  <input type="text" id="soda_text" ng-model="ctrlSoda">
  <soda flavor2="{{ctrlSoda}}"></soda>
</div>

<div ui-view="body"></div>
